$fz_standart: 20px;

$color_one: #121212;
$color_two: #26a69a;
$color_two_light: #2bbbad;
$color_three: #fff;
$color_four: #e0e0e0;
$color_five: #f7f7f7;
$color_six: #323232;
$color_seven: #bdb6b6;
$color_eight: #9e9e9e;
$color_nine: #535353;
